#!/usr/bin/env bash

## CUSTOM SQL - Important file used by the db_assembler.sh
## Keep only the required variables (base sql files or updates, depending on the DB)

## BASE SQL

DB_AUTH_CUSTOM_PATHS+=(
    $MOD_STARTER_MOUNT_ROOT"/sql/auth/base"
)

DB_CHARACTERS_CUSTOM_PATHS+=(
    $MOD_STARTER_MOUNT_ROOT"/sql/characters/base"
)

DB_WORLD_CUSTOM_PATHS+=(
    $MOD_STARTER_MOUNT_ROOT"/sql/world/base"
)

## updates
DB_AUTH_UPDATES_PATHS+=(
    $MOD_STARTER_MOUNT_ROOT"/sql/auth/base"
)

DB_CHARACTERS_UPDATES_PATHS+=(
    $MOD_STARTER_MOUNT_ROOT"/sql/characters/base"
)

DB_WORLD_UPDATES_PATHS+=(
    $MOD_STARTER_MOUNT_ROOT"/sql/world/base"
)